.layout {
  height: 1576px;
  background-color: rgba(249, 249, 249, 1);
  width: 1920px;
  display: flex;
  align-items: flex-start;
}
.sidebar {
  padding: 40px 47px 51px 11px;
  width: 403px;
  height: 100%;
}
.main {
  width: 1520px;
}
.content {
  width: 100%;
  height: 1440px;
  background-color: white;
  border-radius: 20px;
  padding: 72px 183.88px 256.75px 51px;
}
.title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
}
.tableCover {
  border: 0.5px solid #c7cfd6;
  border-radius: 4px;
  margin-top: 34.8px;
}
.itemCover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35.35px 62.12px 37.2px 28.03px;
  border-bottom: 1px solid #E1E1E1;
}
.itemDetails {
  display: flex;
  align-items: center;
  gap: 35.25px;
}
.itemMonth {
  display: flex;
  align-items: center;
  gap: 33.78px;
}
.itemAction {
  display: flex;
  align-items: center;
  gap: 39px;
}
.itemMonth input {
  width: 21.2px;
  height: 21.2px;
  border: 0.8px solid #d0d5dd;
}
.monthName {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  color: #304156;
}
.itemInfo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #667085;
}
.itemAction button {
  width: 168px;
  height: 57px;
  background: #3db0ff;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
}
.itemAction img{
    width: 20px;
    height: 20px;
}
.monthName:first-child{
    color: #081494;
}